*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

/* Background */

body{
background: radial-gradient(circle at top,#1a0033,#0d001a,#000000);
color:white;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
padding:15px 50px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
}

.navbar ul{
display:flex;
list-style:none;
gap:20px;
}

.navbar a{
color:white;
text-decoration:none;
}

.logo{
color:#c471ed;
font-size:22px;
font-weight:bold;
}

/* Home */

.home-box{
max-width:900px;
padding:60px;
background:rgba(255,255,255,0.06);
border-radius:20px;
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.15);
box-shadow:0 0 30px rgba(196,113,237,0.3);
text-align:center;
}

.profile-img{
width:130px;
height:120px;
border-radius:50%;
border:3px solid #c471ed;
box-shadow:0 0 20px #c471ed;
margin-bottom:20px;
transition:0.3s;
}

.profile-img:hover{
transform:scale(1.05);
}

.typing{
color:#c471ed;
border-right:2px solid #c471ed;
white-space:nowrap;
overflow:hidden;
animation:typing 3s steps(30,end), blink .7s infinite;
}

@keyframes typing{
from{width:0}
to{width:100%}
}

@keyframes blink{
50%{border-color:transparent}
}

/* Sections */

.section{
padding:80px 20px;
display:flex;
justify-content:center;
}

.section-box{
width:100%;
max-width:900px;   /* ⭐ increased width */
padding:40px;

background:rgba(255,255,255,0.06);
border-radius:20px;

backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.15);

box-shadow:0 0 25px rgba(196,113,237,0.3);

text-align:center;
margin:auto;

transition:0.3s;
}
.section-box:hover{
transform:translateY(-10px);
box-shadow:0 0 50px rgba(196,113,237,0.7);
}

h2{
color:#c471ed;
margin-bottom:20px;
}

/* Skill */

.skill{
margin:20px 0;
text-align:left;
}

.skill span{
color:#c471ed;
font-weight:bold;
}

.skill-bar{
width:100%;
height:20px;
background:rgba(255,255,255,0.1);
border-radius:10px;
overflow:hidden;
}

.skill-level{
height:100%;
background:#a945db;
box-shadow:0 0 10px #c471ed;
}

/* Cards */

.contact-card{
background:rgba(255,255,255,0.06);
padding:25px;
margin:20px 0;
border-radius:20px;
border:1px solid rgba(255,255,255,0.15);
cursor:pointer;
transition:0.3s;
}

.contact-card:hover{
transform:translateY(-5px);
box-shadow:0 0 35px rgba(196,113,237,0.5);
}
.btn-box{
display:inline-block;
padding:25px;
margin-top:25px;

background:rgba(255,255,255,0.06);
border-radius:20px;
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.15);

box-shadow:0 0 25px rgba(196,113,237,0.3);
transition:0.3s;
}

.btn-box:hover{
transform:translateY(-5px);
box-shadow:0 0 40px rgba(196,113,237,0.6);
}